.kaufman {
  background-color: #1f1f1f;
  position: relative;
  padding: 90px 0;
  overflow: hidden;
}
.kaufman__triangle {
  position: absolute;
  right: -124px;
  top: 0;
  z-index: 1;
  bottom: 0;
  transform: rotate(-15deg);
  -webkit-animation-name: rotation;
  animation-name: rotation;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
