/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.video {
  position: relative;
}
.video__iframes {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
  margin-bottom: -50px;
}

.video__iframe {
  width: 515px;
  height: 316px;
  display: block;
  margin-right: 20px;
  border: 0px;
}
.video__iframes:last-child {
  margin-right: 0;

}

.video-section-title {
  line-height: 1.15;
  text-align: center;
}