.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
}
.khan__container {
  width: 80%;
  margin: 0 auto;
}
.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 0;
  padding: 0;
}
.khan__book-container {
  display: flex;
  margin-top: 68px;
}
.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
}
.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;

  align-self: start;
  /*Stretching prevention,
   so that just clicking on the text will take you to the purchase page,
  and not all the space that Flexbox takes up */
}


.khan__author {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }
  .khan__title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
  
  .khan__quote {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    padding: 0;
    margin: 50px 0 0;
    width: 790px;
  }
  .khan__quote-author {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 36px 0 0;
    padding: 0;
  }