/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.cards {
  width: 940px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.cards__item {
  width: 240px;
  margin-right: 100px;
}
.cards__item:nth-child(3n) {
  margin-right: 0;
}
.cards__image {
  margin: 60px 40px 43px 40px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
}
.cards__title {
  margin-bottom: 16px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  text-align: center;
}
