/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url(_theme/table_theme_dark.css);
.table {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.table__cell {
  margin: 0;
  padding: 0;
  /* Reset deafult styles*/
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  margin: 0;
  padding: 0;
  /* Reset deafult styles*/
  line-height: 1.15;
  font-weight: bold;
  font-size: 24px;
}
.table__text {
  margin-top: 20px;
  padding: 0px;
  line-height: 1.2;
  font-size: 18px;
}
