@import url(../blocks/header/header.css);
@import url(../blocks/content/content.css);
@import url(../blocks/footer/footer.css);
@import url(../styles/animations.css);
.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Helvetica Neue", Arial, sans-serif;
    position: relative;
  }

  
  .section-title {
    padding: 0;
    /* Reset deafult styles*/
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
  }
  .section-subtitle {
    width: 60%;
    text-align: center;
    margin: 20px auto 0 auto;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }
  
  .section-title_theme_dark {
    position: relative;
    z-index: 2;
    color: white;
  }
  .section-subtitle_theme_dark {
    color: white;
  }
  
  .resources {
    margin-top: 100px;
    margin-bottom: 217px;
  }
  .resources__logo-zone {
    list-style: none;
    width: 1100px;
    display: flex;
    margin: 80px auto;
  }
  .resources__logo {
    width: 270px;
    height: 38px;
  }
  
  /* re-use code*/
  
  
  