
.footer {
    background-color: #1f1f1f;
    min-height: 350px;
    display: flex;
  }
  .footer__list {
    margin: 0;
    padding: 0;
    /* Reset deafult styles*/
    list-style: none;
    line-height: 30px;
    font-size: 18px;
  }
  .footer__author {
    padding: 0;
    /* Reset deafult styles*/
    font-weight: normal;
    line-height: 25px;
    font-size: 18px;
    margin: 18px 0;
  }
  
  .footer__column-heading {
    margin: 0;
    padding: 0;
    /* Reset deafult styles*/
    line-height: 30px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
  }
  .footer__column_content_about {
    display: flex;
    flex-direction: column;
  }
  .footer__column_content_sociel {
    display: flex;
    flex-direction: column;
  }
  .footer__social-icons {
    border-style: none;
    margin-right: 10px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
  }
  .footer__column-link {
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    color: white;
  }
  .footer__columns {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 60px 0 40px 0;
    margin: 0 auto;
  }
  
  .logo_place_footer {
    width: 183px;
    height: 35px;
  }
  